html, body {
  font-family: Montserrat, sans-serif;

}



:root {
  --black: #000000;          
  --white: #ffffff;         
  --blue: rgba(79, 112, 193, 1);   
  --orange: rgba(254, 118, 52, 1);   
  --red: rgba(225, 3, 52, 1);        
  --teal: rgba(0, 151, 167, 1);      
  --purple: rgba(203, 114, 180, 1);  
}




.wrapper {
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}


.header {
  height: 100vh;
  /* font-weight: 700;
  display: flex;
  flex-direction: column; */
}

.header__top {
   padding-left: 10vw;
    display: flex;
       padding-right: 10vw;
    height: 80px;
    background: var(--black);
    
}
.header__top--open {
}
.container {
}
.header__top-inner {
  width: 100%;
    display: flex;
}
.header__logo {
    justify-content: center;
   width: 148px;
   height: 55px;
  display: flex;
    padding-top: 23px;
   
}
.logo{
  width: 100%;
  height: 100%;
}

.header__nav {
    
  display: flex;
}

#white{
  color: var(--white);
}
.header__nav-list {
  margin-right: 3rem;
    padding: 30px 0;
    display: flex;
 margin-left: auto;
}

.child{
    margin-right: 3vw;
}
.header__nav-item {
}
.header__nav-link {
    font-size: 18px;
    margin-right: 40px;
     font-weight: 400 ;
    color: #ffffff56;
    transition: .4s;
}

.header__nav-link:hover {
    color: var(--white);
}



.header__btn-box {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    outline: solid var(--blue)  2px ;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    width: 200px;
    height: 44px;
    background: #ffffff;
    padding: 12px  ;
}
.header__top-btn {
    color: var(--blue);
    font-weight: 400 ;
}
.header__box-img {
    margin-left: 10px;
}


.header-body {
display: block;
justify-content: center;
align-items: center;
}
.head-title {
  margin-top: 133px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--black);
}
.head-subtitle {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.head-btn-box {
  margin-bottom: 64px;
  flex-direction: row;
justify-content: center;
align-items: center;
  display: flex;
}
.button-link {
margin-right: 2.5rem;
flex-direction: row;
justify-content: center;
align-items: center;
  padding: 16px 8px 16px 24px;
  border-radius: 12px;
 display: flex;
  background: var(--black);
  width: 14.25rem;
  height: 56px;
  color: var(--white);
}
.head-button-title {

  font-weight: 700;
}
.button-link-two{
  flex-direction: row;
justify-content: center;
align-items: center;
  height: 56px;
  width: 11.2rem;
   display: flex;
   box-sizing: border-box;
border: 2px solid rgb(0, 0, 0);
border-radius: 12px;
  color: var(--black);
}

.head-arrow {
margin-left: 1rem;
}
.img-arrow {
 
    margin-top: 0px;
  width: 100%;
  height: 100%;
}
.header-img {
  display: flex;
   justify-content: center;
align-items: center;
border-radius: 30px;
width: 1200px;
height: 682px;
}


.header-body-wrap {
  display: flex;
  justify-content: center;
align-items: center;
}


.header-img-child{
    width: 100%;
  height: 100%;
}



@media (max-width: 1650px) {
  /* .header__logo{
    margin-right: 21vw;
  } */
}