html, body {
  font-family: Montserrat, sans-serif;

}



:root {
  --black: #000000;          
  --white: #ffffff;         
  --blue: rgba(79, 112, 193, 1);   
  --orange: rgba(254, 118, 52, 1);   
  --red: rgba(225, 3, 52, 1);        
  --teal: rgba(0, 151, 167, 1);      
  --purple: rgba(203, 114, 180, 1);  
}

 

.wrapper {
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  margin-top: 23px;
  background: var(--black);
 display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 10;

}

  .burger__line {
    display: block;
    width: 100%;
    height: 4px;
    background: var(--blue);
    transition: all 0.3s ease;
  }


 .burger.active .burger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .burger.active .burger__line:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active .burger__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }



.header {
  height: 100vh;
  /* font-weight: 700;
  display: flex;
  flex-direction: column; */
}

.header__top {
   padding-left: 10vw;
    display: flex;
       padding-right: 10vw;
    height: 80px;
    background: var(--black);
    
}
.header__top--open {
}

.header__top-inner {
  width: 100%;
    display: flex;
}
.header__logo {
    justify-content: center;
   width: 148px;
   height: 55px;
  display: flex;
    padding-top: 23px;
   
}
.logo{
  width: 100%;
  height: 100%;
}

.header__nav {
    
  display: flex;
}

#white{
  color: var(--white);
}
.header__nav-list {
  margin-right: 3rem;
    padding: 30px 0;
    display: flex;
 margin-left: auto;
}

.child{
    margin-right: 3vw;
}
.header__nav-item {
}
.header__nav-link {
    font-size: 18px;
    margin-right: 40px;
     font-weight: 400 ;
    color: #ffffff56;
    transition: .4s;
}

.header__nav-link:hover {
    color: var(--white);
}



.header__btn-box {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    outline: solid var(--blue)  2px ;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    width: 200px;
    height: 44px;
    background: #ffffff;
    padding: 12px  ;
}
.header__top-btn {
    color: var(--blue);
    font-weight: 400 ;
}
.header__box-img {
    margin-left: 10px;
}


.header-body {
display: block;
justify-content: center;
align-items: center;
}
.head-title {
  margin-top: 133px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: var(--black);
}
.head-subtitle {
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
.head-btn-box {
  margin-bottom: 64px;
  flex-direction: row;
justify-content: center;
align-items: center;
  display: flex;
}
.button-link {
margin-right: 2.5rem;
flex-direction: row;
justify-content: center;
align-items: center;
  padding: 16px 8px 16px 24px;
  border-radius: 12px;
 display: flex;
  background: var(--black);
  width: 14.25rem;
  height: 56px;
  color: var(--white);
}
.head-button-title {
  line-height: 24px;
font-size: 1rem;
  font-weight: 700;
}
.button-link-two{
  flex-direction: row;
justify-content: center;
align-items: center;
  height: 56px;
  width: 11.2rem;
   display: flex;
   box-sizing: border-box;
border: 2px solid rgb(0, 0, 0);
border-radius: 12px;
  color: var(--black);
}

.head-arrow {
margin-left: 1rem;
}
.img-arrow {
 
    margin-top: 0px;
  width: 100%;
  height: 100%;
}
.header-img {

  display: flex;
   justify-content: center;
align-items: center;

}


.header-body-wrap {
  display: flex;
  justify-content: center;
align-items: center;
}


.header-img-child{

    width: 100%;
  height: 100%;
border-radius: 30px;
     box-shadow: -1px 8px 9px rgb(0 0 0 / 20%), 2px 0 4px rgba(0, 0, 0, 0.2), -3px 2px 0px 0px rgba(0, 0, 0, 0.05);
}



.advantage {
   margin-top:   550px;
}
.advantage-wrap {
  display: flex;
}
.advantage-head {
  margin-right: 23rem;
 font-weight: 700;
 line-height: 120%;
 font-size: 4rem;
}
.advantage-subtitle {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.advantage-item {
  margin-right: 10rem ;
}


.advantage-top{
  margin-top: 60px;
}
.advantage-img-wrap {
  margin-bottom: 25px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 18%);
}
.advantage-img {
}
.advantage-title {
  margin-bottom: 16px;
   font-weight: 700;
  font-size: 1.87rem;
}
.advantage-sub {
    font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.production-title {
  margin-bottom: 40px;
  justify-content: center;
  width: 47rem;
  margin-top: 125px;
   font-weight: 700;
 line-height: 120%;
 font-size: 4rem;
}
.production-title-child{
}



.production-subtitle {
  margin-bottom: 65px;
  width: 40rem;
      font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.production-wrap {
}
.production-item {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.production-head {
  margin-bottom: 30px;
     font-weight: 700;

 font-size: 3rem;
}




.production-inner {
  width: 590px;
  height: 496px;
  border-radius: 10px;
}


.production-inner {
  width: 100%;
  aspect-ratio: 1 / 1; /* Квадратное соотношение  */

}

.production-img {
  width: 100%;
  height: 100%;
}



.useful-item{
  margin-top: 40px;
    align-items: center;
  display: flex;
}
.useful-title{
  margin-bottom: 60px;
 line-height: 120%;
font-weight: 700;
font-size: 4rem;
}


.useful-wrap {

  display: flex;
}
.useful-subtitle {
width: 500px;
margin-right: 8rem;
}



.production-wrap-title{
width: 100%;
 padding-left: 7.8rem;
}
 

.useful-item-child{
margin-bottom: 120px;
}
.useful-head{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-us{
    padding-top: 100px;
  margin-top: 150px;
  background: var(--blue) ;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-headtitle {

  margin-bottom: 40px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
}
.about-top{
  margin-bottom: 64px;
 margin-left: 340px;
 margin-right: 340px;
}
.about-subtitle {

  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.about-item-wrap{
  display: flex;
}
.about-item {
  margin-bottom: 100px;
  margin-right: 20px;
  padding: 30px;
  width: 23rem;
  height: 23rem;
  background: #ffffff;
  border-radius: 10px;
}
.svg-wrap {
  justify-content: center;
  display: flex;
  margin-bottom: 27px;
}
.about-img {
  margin-right: 10px;
}
.about-item-title {
}
.about-user {
  margin-top: 38px;
  margin-bottom: 26px;
   height: 32px;
  width: 32px;

}
.user-img {
 margin-bottom: 26px;
}
.about-user-title {
  color: gray;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}



.footer-head {
  background: var(--black);
}
.form-wrap {
  display: flex;
}
.form-img {
  width: 24px;
  height: 24px;
}
.form-mail {
}
.form-footer-title {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 700;
}
.footer-button {
  font-size: .9rem;
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  width: 9rem;
  height: 44px;
  border-radius: 8px;
}
.footer-head-line {
  width: 1000px;
  height: 1px;
  border-top: 1px;
  background: var(--blue);
}




@media (max-width: 1650px) {
  /* .header__logo{
    margin-right: 21vw;
  } */
}



@media (max-width: 1300px) {
  /* .header__logo{
    margin-right: 21vw;
  } */

  .header__nav-list{
    margin-right: 0;
  }
}
@media (max-width: 1300px) {
.burger{
  display: flex;
}
.header__nav-list{
  display: none;
}
.header__logo{
margin-left: 30vw;
}
.header__logo{
margin-left: 30vw;
}
}
@media (max-width: 1050px) {
    .header__logo {
        margin-left: 23vw;
    }
}
@media (max-width: 900px) {
    .header__logo {
        margin-left: 21vw;
    }

}
@media (max-width: 800px) {
.head-title{
  font-size: 3rem;
}

}
@media (max-width: 730px) {

    .header__logo {
        margin-left: 16vw;
    }
}

@media (max-width: 655px) {
  .head-title{
  font-size: 2.5rem;
}
  .header__top-btn{
    display: none;
  }
  .header__btn-box{
    width: 6.875rem;
  }

}
@media (max-width: 540px) {
  .head-title{
  font-size: 2.2rem;
}
  .header__btn-box{
    width: 5rem;
  }

}
@media (max-width: 450px) {
.head-button-title {
    white-space: nowrap;
font-size: .8rem;
}

  .head-title{
  font-size: 1.8rem;
}
  .header__btn-box{
    width: 58px;
  }
.header__box-img{
margin-left: 0;
}
}

@media (max-width: 400px) {
.header__logo {
                margin-left: 11vw;
    }
.head-title{
  font-size: 1.6rem;
}
}
@media (max-width: 380px) {
.head-button-title {

font-size: .6rem;
}



}
@media (max-width: 365px) {
.header__logo {
     margin-left: 7vw;
    }
  
}


