.header__btn-box {
    outline: solid var(--orange)  2px ;
}
.header__top-btn {
    color: var(--orange);
}
.burger__line {

  background: var(--orange);
}

.burger.active .burger__line {
  background: var(--orange);
}

.popup-link:hover {
  color: var(--orange);
}

.footer-line {
  background: var(--orange );
}
