


.head-subtitle {
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
.head-btn-box {
  margin-bottom: 64px;
  flex-direction: row;
justify-content: center;
align-items: center;
  display: flex;
}
.button-link {
margin-right: 2.5rem;
flex-direction: row;
justify-content: center;
align-items: center;
  padding: 16px 8px 16px 24px;
  border-radius: 12px;
 display: flex;
  background: var(--black);
  width: 14.25rem;
  height: 56px;
  color: var(--white);
}
.head-button-title {
  line-height: 24px;
font-size: 1rem;
  font-weight: 700;
}
.button-link-two{
  flex-direction: row;
justify-content: center;
align-items: center;
  height: 56px;
  width: 11.2rem;
   display: flex;
   box-sizing: border-box;
border: 2px solid rgb(0, 0, 0);
border-radius: 12px;
  color: var(--black);
}

.head-arrow {
margin-left: 1rem;
}
.img-arrow {
 
    margin-top: 0px;
  /* width: 100%;
  height: 100%; */
}

.popup-link {
    color: var(--blue);
}

.popup-link:hover {
  color: var(--blue);
}


.header__btn-box {
    outline: solid var(--blue)  2px ;
}


.burger.active .burger__line {
  background: var(--blue);
}


.header-img {

  display: flex;
   justify-content: center;
align-items: center;

}
.burger__line {
  background: var(--blue);
}


.header__top-btn {
    color: var(--blue);
}


.header-img-child{
    width: 100%;
  height: 100%;
border-radius: 30px;
     box-shadow: -1px 8px 9px rgb(0 0 0 / 20%), 2px 0 4px rgba(0, 0, 0, 0.2), -3px 2px 0px 0px rgba(0, 0, 0, 0.05);
}




.advantage {
   margin-top:   120px;
}
.advantage-wrap {
  display: flex;
}
.advantage-head {
  margin-right: 23rem;
 font-weight: 700;
 line-height: 120%;
 font-size: 4rem;
}
.advantage-subtitle {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.advantage-item {
  margin-right: 10rem ;
}


.advantage-top{
  display: flex;
  margin-top: 60px;
}
.advantage-img-wrap {
  margin-bottom: 25px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 18%);
}
.advantage-img {
}
.advantage-title {
  margin-bottom: 16px;
   font-weight: 700;
  font-size: 1.87rem;
}
.advantage-sub {
    font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}


.production-title-wrapper {
  margin: 125px auto 40px;
     max-width: 60rem;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.production-title {
  font-weight: 700;
  line-height: 120%;
  font-size: clamp(2rem, 5.5vw, 4rem); 
  text-align: center;
  margin: 0;
}


.production-title-child{
}



.production-subtitle {
  margin-bottom: 65px;
  width: 40rem;
      font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.production-wrap {
}
.production-item {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.production-head {
  margin-bottom: 30px;
     font-weight: 700;

 font-size: 3rem;
}




.production-inner {
  width: 590px;
  /* height: 496px; */
  border-radius: 10px;
}


.production-inner {
  width: 100%;
}
.useful-img{
    width: 100%;
  height: 100%;
}
.production-img {
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  height: 100%;
}



.useful-item{
  margin-top: 40px;
    align-items: center;
  display: flex;
}
.useful-title{
  margin-top: 120px;
  margin-bottom: 60px;
 line-height: 120%;
font-weight: 700;
font-size: 4rem;
}


.useful-wrap {

  display: flex;
}
.useful-subtitle {
max-width: 486px;
margin-right: 8rem;
}
.subtitle-production{
font-size: 1rem;
line-height: 24px;
font-weight:  400;
}

.production-wrap-title{
width: 100%;
 padding-left: 7.8rem;
}
 

/* .useful-item-child{

} */
.useful-head{
  max-width: 486px;
  height: 144px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-us{
    padding-top: 100px;
  margin-top: 150px;
  background: var(--blue) ;
}



.about-headtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
}
.about-top{
  width: 390px;

  margin-bottom: 64px;
}
.about-subtitle {
  
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.about-item-wrap{
  display: flex;
}
.about-item {
  margin-bottom: 100px;
  margin-right: 20px;
  padding: 30px;
  width: 23rem;
  height: 23rem;
  background: #ffffff;
  border-radius: 10px;
}
.svg-wrap {
  justify-content: center;
  display: flex;
  margin-bottom: 27px;
}
.about-img {
  margin-right: 10px;
}
.about-item-title {
}
.about-user {
  margin-top: 38px;
  margin-bottom: 26px;
   height: 32px;
  width: 32px;

}
.user-img {
 margin-bottom: 26px;
}
.about-user-title {
  color: gray;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}




input[data-icon="email"] {
  background-image: url('../img/letter.svg');
}

input[type="tel"] {
  background-image: url('../img/call.svg');
}

.footer-button {
  background: var(--blue);
}


.footer-line {
  background: var(--blue);
}



.blog{
  margin-top: 100px;
  margin-bottom: 140px;
}


.blog-wrap {
  display: flex;
}


.blog-headtitle {
  font-size: 4rem ;
  font-weight: bold;
  line-height: 120%;
}
.accordion {
  margin-bottom: 35px;
}
.accordion-head {
  cursor: pointer;
  display: flex;
 justify-content: space-between;
  align-items: center; 
  padding: 15px 0; 
}
.accordion-head-title {
  width: 36.25rem;
  line-height: 38px;
  font-size: 30px;
  font-weight: bold;
   word-wrap: break-word;
}
.accordion-head-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.accordion-img {
}
.accordion-sub {
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; 
  width: 36.25rem; 
  word-wrap: break-word; 
  padding-left: 10px;
  box-sizing: border-box;
  display: none;
}
.accordion.open .accordion-sub {
  max-height: 500px; 
}

.accordion-img {
  transition: transform 0.3s ease;
}

.accordion.open .accordion-img {
  transform: rotate(180deg);
}

.accordion-wrap{
  display: block;
  margin-left: auto;
}

.accordion.open .accordion-sub {
  display: block;
}






@media (max-width: 1200px) {
.blog-wrap{
  display: block;

}
.blog-headtitle{

  margin-bottom: 55px;
}
}



@media (max-width: 1050px) {
  .production-item{
      flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

 .production-wrap { 
    width: 100%;
    max-width: 35rem;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .production-subtitle {
    width: 100% ; 
    margin-left: auto;
    margin-right: auto;
  }

  .production-inner {
    max-width: 500px; 
    margin: 0 auto;
  }
    .useful-head{
      font-size: 2.5rem;
          height: 165px;
    }
    .production-wrap-title{
      padding-left: 4.8rem;
    }
    .advantage-item{
          margin-right: 7rem;
    }
    .advantage-title{
      font-size: 1.47rem;
    }
    .production-subtitle{
          width: 35rem;
    }
}

@media (max-width: 950px) {
  .advantage-head{
    margin-right: 15rem;
  }
}

@media (max-width: 900px) {
.production-title{
  margin-top: 400px;
}
        .production-subtitle {
          width: 30rem;
        }
.advantage{
display: none;
}
.advantage-wrap{
  display: block;
}
}

@media (max-width: 800px) {
    .advantage-head{
    margin-right: 10rem;
  }

    .advantage-item {
        margin-right: 5rem;
    }
}
@media (max-width: 720px) {
    .advantage-head{
    margin-right: 10rem;
  }
    .advantage-item {
        margin-right: 5rem;
    }
  
}



@media (max-width: 655px) {

.accordion-head-title{
      font-size: 25px;

}
}


@media (max-width: 600px) {
.accordion-sub{
width: 28.25rem;
}
}



@media (max-width: 500px) {
  
.accordion-sub{
width: 25.25rem;
}
}
@media (max-width: 450px) {
  
.accordion-sub {
        width: 15.25rem;
    }
.head-button-title {
    white-space: nowrap;
font-size: .8rem;
}

}



@media (max-width: 380px) {
.head-button-title {
font-size: .8rem;
}

.button-link {
    margin-right: 1rem;
  }

}

