.header__btn-box {
    outline: solid var(--orange)  2px ;
}
.header__top-btn {
    color: var(--orange);
}
.burger__line {

  background: var(--orange);
}

.burger.active .burger__line {
  background: var(--orange);
}

.popup-link:hover {
  color: var(--orange);
}

.footer-line {
  background: var(--orange);
}


.body-item-wrap{
    margin-right: 20px;
} 
.header-body-item{
    height: 650px;
    border-radius: 24px;
    background: var(--orange);
    width: 90vw;
    border-radius: 25px;
    display: flex;
    padding: 3.75rem;
}
.form-button {
  margin-left: 20px;
  font-size: .9rem;
  font-weight: bold;
  background: var(--black);
  color: var(--white);
  width: 13rem;
  height: 44px;
  border-radius: 8px;
}

.icon-input-2 {
 width: 300px;
  padding: 12px 40px 12px 20px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%; 
  background-size: 20px;
  
}

.icon-input-2 {
  background-image: url('../img/letter-gray.svg' );
}
.icon-input-3 {
  background-image: url('../img/letter-orange.svg' );
}

.icon-input-4{
  background-image: url('../img/call-orange.svg');
}




.header-body {
  width: 100%;
  padding: 40px 0;
}

.header--wrap {
  max-width: 1200px;
  margin: 0 auto;
}


.head-subtitle {
  font-size: 1rem;
  line-height: 24px;
  max-width: 800px;
  margin: 0 auto;
  font-weight: 400;
  color: var(--black);
}

.body-head{
font-weight: 600;
line-height: 120%;
font-size: 4rem;
margin-bottom: 40px;

}
.body-subhead{
max-width: 490px;
height: 100px;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

/* .body-img-child{
    width: 100%;
  height: 100%;

     box-shadow: -1px 8px 9px rgb(0 0 0 / 20%), 2px 0 4px rgba(0, 0, 0, 0.2), -3px 2px 0px 0px rgba(0, 0, 0, 0.05);
} */






.body-img-child {
border-radius: 10px;
  min-width: 530px;
  width: 100%;
  height: 100%;

}

.header-img {

}

.header-item {
display: block;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 130px;
}





.work-head{

    font-size: 4rem;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 67px;
}
.work-wrap {
    display: flex;
    gap: 20px;
}
.btn-work--white {
    margin-top: 30px;
    background: var(--black);
    width: 26.6rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
      border-radius: 8px;
}

.btn-work-title {
    color: var(--white);
    line-height: 24px;
    font-weight: bold;
    font-size: 2rem;
}


.btn-work--black {
        margin-top: 30px;
        width: 26.6rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: transparent;
    border:  2px var(--black)  solid ;
}
.btn-work-title--black{
    color: var(--black);
    line-height: 24px;
    font-weight: bold;
    font-size: 2rem;
}

.btn-work-title {
}
.btn-work--white {
}




.blog {
  margin-bottom: 182px;
  margin-top: 200px;
}

.blog-wrap {
  display: flex;
}
.blog-headtitle {
  font-weight: bold;
  font-size: 4rem;
  color: var(--orange);
  line-height: 64px;
}




.partners {
  margin-bottom: 35px;
}
.partners-head {
  cursor: pointer;
  display: flex;
 justify-content: space-between;
  align-items: center; 
  padding: 15px 0; 
}
.partners-head-title {
  width: 36.25rem;
  line-height: 38px;
  font-size: 30px;
  font-weight: bold;
   word-wrap: break-word;
}
.partners-head-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.partners-img {
}


.partners-wrap{
  display: block;
  margin-left: auto;
}


.partners-item-wrap{

}
.partners-line {
  margin-top: 16px;
}
.p-line {
  background: rgba(175, 173, 173, 0.685);
  width: 100%;
  height: 1px;
}




.selected-head {
  margin-bottom: 65px;
  font-size: 4rem;
  line-height: 64px;
  font-weight: bold;
}
.selected-input {
   background-image: url('../img/seek.svg' );
}
.selected-input {
 margin-bottom: 85px ;
  height: 60px;
 width: 80vw;
  padding: 12px 40px 12px 20px; 
  border: 2px solid #000000;
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%; 
  background-size: 20px;
}
#selected-item-child{
  margin-bottom: 200px;
}


.selected-item {
  margin-bottom: 80px;
  display: flex;
}
.selected-img-wrap {
  margin-right: 42px;
}
.selected-img {
}
.selected-item-wrap {
}
.selected-item-head {
  line-height: 38px;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.selected-item-subtitle {
font-size: 1rem;
line-height: 24px;
font-weight: 400;
}
.selected-item-adds {
  margin-bottom: 32px;
  font-size: 1rem;
line-height: 20px;
font-weight: 400;
}
.selected-item-time {
    margin-bottom: 32px;
  font-size: 1rem;
line-height: 20px;
font-weight: 400;
}
.selected-wrap {
  display: flex;
}
.selected-title-rating {
  margin-right: 40px;
    margin-bottom: 32px;
  font-size: 1rem;
line-height: 20px;
font-weight: 400;
}
.selected-rating {
margin-top: 3px;
}
.selected-link {

  color: var(--black);
  font-size: .8rem;
line-height: 20px;
font-weight: bold;
transition: .4s;
position: relative; 
  padding-bottom: 2px; 
}

.selected-link::after {
content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 2px; 
  background-color: var(--black); 
  transition: width 0.4s ease; 
}
.selected-link:hover::after {
  width: 100%;
}
.selected-link:active::after {
  width: 100%;
}
.selected-btn {
  margin-top: 70px;
  background: var(--black);
display: flex;
justify-content: center;
align-items: center;
height: 44px;
width: 18.1rem;
border-radius: 8px;
}
.selected-btn-title {
  font-size: .8rem;
  font-weight: 600;
  line-height: 20px;
  color: var(--white);

}














.footer-line {
  background: var(--orange);
}

.footer-button {
background: var(--orange);
}


.footer-nav-link:hover {
    color: var(--white);
}
.input-footer{
  border-radius: 10px;
  padding-right: 16px;
  padding-left: 1rem;
}

@media (max-width: 1200px) {
.blog-headtitle {
  font-size: 3.5rem;
}

}

@media (max-width: 1100px) {
.blog-headtitle {
  font-size: 3rem;
}
.partners-head-title {
    width: 31.25rem;

    font-size: 28px;
    font-weight: bold;
    word-wrap: break-word;
}

}
@media (max-width: 950px) {
.blog-headtitle {
  font-size: 2.5rem;
}

}
@media (max-width: 900px) {

.blog-wrap {
    display: block;
}
.blog-headtitle{
  margin-bottom: 35px;
}
.partners-head-title{
  font-size: 23px;
}
}

@media (max-width: 490px) {
.blog-headtitle{

}

.partners-head-title{
  font-size: 20px;
}
.blog-headtitle {
  font-size: 2rem;
}

}
